<nav class="nav">
    <ul class="nav_list">
    <li>
        <span class="nav_list__item"> 
        <%= link_to "Home",home_path %>
        </span></li>
        <span class="nav_list__item"> 
        <%= link_to 'Add new bookmark', new_link_path %>
        </span></li>
    </ul>
</nav>