<h1 class="new__title">New Bookmark</h1>
<%= render "nav" %>
<%= link_to links_path do %>
    <i class="fa fa-arrow-left"></i>
  <% end %><br><br>
<%= render 'form', link: @link %>
<%= link_to 'Back', links_path %>





