.form {
    margin-bottom: 20px;
    &__input {
        outline: none;
        border: none;
        padding: 5px;
        margin-bottom: 10px;
    }
    &__submit {
        border: none;
        padding: 5px;
        background-color: white;
        cursor: pointer;
        &:hover {
            color: orangered;
        }
    }
}